@model ZooApplication.Models.AnimalDto
@{
    ViewBag.Title = "View";
}

<a href="/Animal/List">Go back to list</a>
<h2>@Model.AnimalName</h2>
<div>Weight: @Model.AnimalWeight kg</div>
<div>Species: @Model.SpeciesName</div>


